[book]
title = "RustF Framework Documentation"
description = "Complete guide to the RustF MVC web framework for Rust"
authors = ["RustF Team"]
language = "en"
multilingual = false

[build]
build-dir = "book"
create-missing = true

[output.html]
default-theme = "navy"
preferred-dark-theme = "navy"
git-repository-url = "https://github.com/numerum-tech/rustf"
edit-url-template = "https://github.com/numerum-tech/rustf/edit/main/book/src/{path}"

[output.html.search]
enable = true
limit-results = 30
teaser-word-count = 30
use-boolean-and = true
boost-title = 2
boost-hierarchy = 1
boost-paragraph = 1
expand = true
heading-split-level = 3





